[Desktop Entry]
Type=Application
Name=Omalux
GenericName=Photo Developer
Comment=Develop photographs with a focused native workflow
Exec=omalux-gui %f
Icon=omalux
Terminal=false
Categories=Graphics;Photography;
MimeType=image/jpeg;image/png;image/bmp;image/x-adobe-dng;
StartupWMClass=omalux
